@import "fonts";

// body {
//   font-family: CormorantUpright;
//   font-size: 50px;

//   span {
//     color: blue;
//   }
// }

.header-img {
  img {
    max-width: 604px;
    // width: 100%;
  }
}

.header-order-tab-txt {
  padding: 20px;
  border: 1px solid #000;
  display: none;
}

.header-order-tab-txt.active {
  display: block;
}

.header-order-tab-nav {
  display: inline-block;
  padding: 20px;
}

.header-order-tab-nav.active {
  color: #ff4200;
}

.image-slider__image img {

  max-height: 282px;
  max-width: 284px;
  width: 100%;
  border-radius: 15px;
}

.swiper-prev,
.swiper-next {
  color: #000;
}

.menu-nav__img {
  img {
    border-radius: 50%;
  }

}

.install-img {
  img {
    max-width: 600px;
  }
}