@import "fonts";
@import "null";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Source+Sans+Pro:wght@400;700;900&display=swap');


// font-family: 'Open Sans',
// sans-serif;
// font-family: 'Source Sans Pro',
// sans-serif;
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1480px;
}

// -----------------------
// navbar

.navbar {
  padding: 25px 0;

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo__icon {
    margin-right: 11px;
  }

  &-logo__text {
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 120%;
    letter-spacing: -0.025em;
    color: #F17228;


    span {
      font-weight: 700;
      font-size: 31.1102px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #FFB30E;
    }
  }

  &-map {
    margin-right: 200px;
  }

  &-map-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #424242;
    margin-right: 12px;
  }

  &-map__icon {
    margin-right: 8px;
  }

  &-map-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #424242;

    span {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #424242;
    }
  }

  &-search-icon {
    margin-right: 4px;
  }

  &-search__input {
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #424242;
    max-width: 140px;

    &::placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      color: #424242;

    }
  }

  &-user__icon {
    margin-right: 10px;
  }

  &-user__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    text-align: center;
    color: #FF8A00;
  }
}

// --------------------------

.flexbox {
  display: flex;
  align-items: center;
}


.header-img {
  img {
    max-width: 604px;
    // width: 100%;
  }
}

.header-order-tab-txt {
  display: none;
}

.header-order-tab-txt.active {
  display: block;
}

.header-order-tab-nav {
  padding: 0 20px;
  margin-bottom: 20px;
}

.header-order-tab-nav.active {
  color: #ff4200;
}

.image-slider__image img {

  max-height: 282px;
  max-width: 284px;
  width: 100%;
  border-radius: 15px;
}

.swiper-prev,
.swiper-next {
  color: #000;
}

.menu-nav__img {
  img {
    border-radius: 50%;
  }

}

.install-img {
  img {
    max-width: 600px;
  }
}

.header-banner {
  overflow: hidden;


  img {
    width: 100%;
  }
}

// -------------------
// header
.header {
  position: relative;
  // background: url(/src/img/Header.png);

  &__container {
    position: absolute;
    top: 75px;
    left: 2px;
  }

  &__title {
    font-weight: 700;
    font-size: 88px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #504F4F;
    margin-bottom: 30px;
  }

  &-order {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
  }

  &-order-tab-icon {
    margin-right: 10px;
  }

  &-order__tab-flex-container {
    display: flex;
    align-items: center;
  }

  &-order-tab-nav {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #F17228;
    }
  }

  &-order__tab-btn-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
  }

  &-order-tab-button {
    display: block;
    background-color: #F17228;
    padding: 21px 48px;
    border-radius: 8px;

    img {
      margin-right: 10px;
    }
  }

  &-order__card-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-order-tab-input {
    background: #F5F5F5;
    border-radius: 8px;
    max-width: 570px;
    width: 100%;
    height: 49px;
    margin-right: 16px;
    padding: 10px;
  }
}

.pickup-txt {
  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #757575;
  }
}

// ---------------------
// sale
.sale {
  padding: 80px 0;

  &__img {
    img {
      border-radius: 16px;

    }

    position: relative;

  }

  &-card {


    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #424242;
      margin-bottom: 14px;
      margin-top: 30px;
    }

    &__subtitle {
      background: rgba(241, 114, 40, 0.2);
      border-radius: 8px;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #F17228;
      display: inline-block;
      padding: 8px 16px;
    }

    &__text {
      font-weight: 700;
      font-size: 68px;
      line-height: 106%;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      background: #FFB30E;
      border-radius: 0px 32px 0px 15px;
      max-width: 140px;
      padding: 12px 18px;
      position: absolute;
      left: 15px;
      bottom: 112px;
    }

    &-txt {
      display: flex;
      flex-direction: column;

      font-weight: 700;
      font-size: 35px;
      line-height: 120%;
      color: #FFFFFF;

      span {
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #FFFFFF;
      }
    }
  }
}

// -----------------
// info
.info {
  padding: 80px 0;
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

  &__flex-container {
    display: flex;
    margin: 0 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #F17228;
    margin-bottom: 70px;
  }

  &-card {
    max-width: 307px;

    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      text-align: center;
      color: #434343;
    }

    &__text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #9E9E9E;
    }

    &__img {
      text-align: center;

    }
  }
}

// ------------------
// popular
.popular {
  padding: 80px 0;

  &__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin-bottom: 88px;
  }

  &-slider__img {
    margin-bottom: 16px;
  }
}

.image-slider__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #424242;
  margin-bottom: 8px;
}

.image-slider__location {
  margin-bottom: 8px;

  span {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #FFB30E;
  }

  img {
    width: 14px;
    height: 22px;
    margin-right: 8px;
    margin-top: 1px;
  }
}

.image-slider__location-flex {
  display: flex;
  align-items: end;
}

.image-slider__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #212121;
  margin-bottom: 16px;
}

.image-slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 48px;

  background: #F17228;
  box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;

  text-align: center;
  color: #FFFFFF;
}

// ----------------------
// featured
.featured {
  padding-bottom: 80px;

  &__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin-bottom: 88px;
  }

  &-card {
    display: block;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;

    &__img {
      margin-bottom: 20px;

      img {
        border-radius: 16px;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    &-logo-rating {
      display: flex;
      align-items: center;
    }

    &-logo__img {
      margin-right: 20px;
    }

    &-logo__title {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #424242;
    }

    &-logo-rating__txt {
      font-weight: 400;
      font-size: 22px;
      line-height: 120%;
      color: #FFB30E;
    }

    &-logo-rating__icon {
      margin-right: 8px;
    }

    &__flex-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    &-time__contain {
      display: inline-block;
      padding: 5px 10px;
      background: rgba(121, 185, 60, 0.2);
      border-radius: 16px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #79B93C;
    }

    &-clue {
      display: flex;
      align-items: center;
      position: absolute;
      top: 25px;
      left: 40px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #FFFFFF;

      img {
        margin-top: 5px;

      }

      &-time {
        background: #FFB30E;
        border-radius: 8px;
        padding: 8px 16px;
      }

      &-discount {
        background: #F17228;
        border-radius: 8px;
        padding: 8px 16px;
        margin-right: 8px;
      }
    }
  }

  &__button {
    text-align: center;
  }

  &__btn {
    display: inline-block;
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 14px;
    padding: 21px 48px;

    img {
      margin-top: 2px;
      margin-left: 10px;
    }

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      color: #FFFFFF;
    }
  }

}

.tomorrow {
  display: inline-block;
  padding: 8px 16px;
  background: rgba(241, 114, 40, 0.2);
  border-radius: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #F17228;
  ;
}

// -----------------------
// menu-nav
.menu-nav {
  padding: 80px 0 55px 0;

  &__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: left;
    color: #212121;
    padding-bottom: 80px;
  }


}

.image-slider__title {
  margin-top: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #424242;
}

// ---------------
// more
.more {
  padding-top: 130px;
}

.some-info {
  padding: 55px 0;
  background: #FFFFFF;
  box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
  border-radius: 46px;
  margin: 0 auto;
  margin-bottom: 80px;

  &-cards {

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-card {
    display: flex;
    align-items: center;

    &__img {
      margin-right: 30px;
    }

    &__title {
      font-weight: 700;
      font-size: 35px;
      line-height: 120%;
      max-width: 151px;
      background: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

// --------
// instal
.install {

  &__cont {
    margin: 0 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 68px;
    line-height: 106%;

    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #827E7E;
  }
}