@import "fonts";
@import "null";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Source+Sans+Pro:wght@400;700;900&display=swap');
$primary: #FFB30E;
$sprimary: #FF8A00;
$orange: #F17228;
$white: #ffff;
$whiteg: #F5F5F5;
$dark: #212121;
$grey: #424242;
$grey1: #434343;
$grey2: #504F4F;
$grey3: #757575;
$grey4: #9E9E9E;
$grey5: #353535;
$black: #000;
$bg1: #FCCB1C;
$bg2: rgba(241, 114, 40, 0.2);
$bg3: #FEEFD0;
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Open Sans', sans-serif;

// font-family: 'Open Sans',
// sans-serif;
// font-family: 'Source Sans Pro',
// sans-serif;
body {
  font-family: $font1;
}


.container {
  @media (min-width: 1480px) {
    max-width: 1480px;
  }
}

h1 {
  font-weight: 700;
  font-size: 88px;
  line-height: 100%;
  color: $white;
  margin-bottom: 15px;

  @media (max-width: 1199px) {
    font-size: 68px;
  }

  @media (max-width: 991px) {
    font-size: 58px;
    margin-bottom: 30px;
  }

  @media (max-width: 479px) {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

h2 {
  font-weight: 700;
  font-size: 68px;
  line-height: 106%;

  @media (max-width: 767px) {
    font-size: 58px;
  }

  @media (max-width: 550px) {
    font-size: 48px;
    line-height: 86%;
  }

  @media (max-width: 479px) {
    font-size: 38px;
  }
}

h4 {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;

  @media (max-width: 991px) {
    font-size: 38px;
  }

  @media (max-width: 479px) {
    font-size: 30px;
  }
}

h5 {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
}

// -----------------------
// navbar

.navbar {
  padding: 25px 0;

  @media (max-width: 479px) {
    padding: 10px 0;
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 499px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-logo__icon {
    margin-right: 11px;
  }

  &-logo__text {
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 120%;
    letter-spacing: -0.025em;
    color: $orange;
    margin-right: 30px;


    span {
      font-weight: 700;
      font-size: 31.1102px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: $primary;
    }
  }

  &-map {
    // margin-right: 100px;
    display: flex;
    align-items: center;

    @media(max-width: 1199px) {
      display: none;
    }
  }

  &-map-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: $grey;
    margin-right: 12px;
  }

  &-map__icon {
    margin-right: 8px;
  }

  &-map-txt {
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: $grey;

    span {
      font-family: $font2;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: $grey;
    }
  }

  &-search-icon {
    margin-right: 4px;
  }

  &-search__input {
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: $grey;
    max-width: 140px;

    &::placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      color: $grey;

    }
  }

  &-user__icon {
    margin-right: 10px;
  }

  &-user__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    text-align: center;
    color: $sprimary;

  }
}

// --------------------------

.flexbox {
  display: flex;
  align-items: center;
}


.header-img {
  img {
    max-width: 604px;
    // width: 100%;
  }
}

.header-order-tab-txt {
  display: none;
}

.header-order-tab-txt.active {
  display: block;
}

.header-order-tab-nav {
  padding: 0 20px;
  margin-bottom: 20px;
}

.header-order-tab-nav.active {
  color: $orange;
}

.image-slider__image img {

  max-height: 282px;
  max-width: 284px;
  width: 100%;
  border-radius: 15px;
}

.swiper-prev,
.swiper-next {
  color: $black;
}

.menu-nav__img {
  img {
    border-radius: 50%;
  }

}

.install-img {
  img {
    max-width: 600px;
  }
}

.header-banner {
  overflow: hidden;


  img {
    width: 100%;
  }
}

// -------------------
// header
.header {
  position: relative;

  @media (max-width: 991px) {
    background: $bg1;
    height: 400px;
  }


  &-banner {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &__container {
    position: absolute;
    top: 75px;
    left: 2px;

    @media (max-width: 1399px) {
      top: 35px;
    }

    @media (max-width: 991px) {
      top: 75px;
    }

    @media (max-width: 479px) {
      top: 50px;
    }
  }


  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: $grey2;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @media (max-width: 991px) {
      margin-bottom: 40px;
    }

    @media (max-width: 479px) {
      margin-bottom: 25px;
    }
  }

  &-order {
    background-color: $white;
    border-radius: 16px;
    padding: 24px;
    max-width: 856px;
    width: 100%;

    @media (max-width: 1199px) {
      padding: 14px;
    }
  }

  &-order-tab-icon {
    margin-right: 10px;
  }

  &-order__tab-flex-container {
    display: flex;
    align-items: center;
  }

  &-order-tab-nav {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: $orange;
    }
  }

  &-order__tab-btn-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: $white;

    @media (max-width: 479px) {
      font-size: 16px;
    }
  }

  &-order-tab-button {
    display: block;
    background-color: $orange;
    padding: 21px 48px;
    border-radius: 8px;
    max-width: 200px;
    width: 100%;

    @media (max-width: 479px) {
      padding: 15px 48px;
    }

    img {
      margin-right: 10px;
    }
  }

  &-order__card-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 479px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-order-tab-input {
    background: $whiteg;
    border-radius: 8px;
    max-width: 570px;
    width: 100%;
    height: 49px;
    margin-right: 16px;
    padding: 10px;

    @media (max-width: 479px) {
      margin-bottom: 10px;
    }
  }
}

.pickup-txt {
  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: $grey3;
  }
}

// ---------------------
// sale
.sale {
  padding: 80px 0;

  @media (max-width: 479px) {
    padding: 40px 0 20px 0;
  }

  &__img {
    img {
      border-radius: 16px;
      max-width: 356px;
      width: 100%;

    }

    position: relative;

  }

  &-card {
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }


    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: $grey;
      margin-bottom: 14px;
      margin-top: 30px;

      @media (max-width: 479px) {
        margin-top: 15px;
      }
    }

    &__subtitle {
      background: $bg2;
      border-radius: 8px;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: $orange;
      display: inline-block;
      padding: 8px 16px;

      @media (max-width: 479px) {
        font-size: 18px;
      }
    }

    &__text {
      font-weight: 700;
      font-size: 68px;
      line-height: 106%;
      display: flex;
      align-items: center;
      color: $white;
      background: $primary;
      border-radius: 0px 32px 0px 15px;
      max-width: 140px;
      padding: 12px 18px;
      position: absolute;
      left: 15px;
      bottom: 112px;

      @media (max-width: 991px) {
        bottom: 153px;
      }

      @media (max-width: 479px) {
        padding: 5px 10px;
        font-size: 40px;
        bottom: 133px;
      }
    }

    &-txt {
      display: flex;
      flex-direction: column;

      font-weight: 700;
      font-size: 35px;
      line-height: 120%;
      color: $white;

      span {
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: $white;
      }

      @media (max-width: 479px) {
        font-size: 30px;
      }
    }
  }
}

// -----------------
// info
.info {
  padding: 80px 0;
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

  @media (max-width: 767px) {
    padding: 40px 0;
  }

  @media (max-width: 479px) {
    padding: 20px 0;
  }

  &__flex-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    text-align: center;
    color: $orange;
    margin-bottom: 70px;
  }

  &-card {
    max-width: 307px;

    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      text-align: center;
      color: $grey1;
    }

    &__text {
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: $grey4;
    }

    &__img {
      text-align: center;

    }
  }
}

// ------------------
// popular
.popular {
  padding: 80px 0;

  @media (max-width: 767px) {
    padding: 40px 0;
  }

  &__title {
    text-align: center;
    color: $dark;
    margin-bottom: 88px;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &-slider__img {
    margin-bottom: 16px;
  }

  &-swiper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.popular-slide-btn-prev {
  right: auto;
  left: -100px;
  top: 30%;
  padding: 35px;
  color: $white;
  background-color: $primary ;
  border-radius: 50%;

  @media (max-width: 1350px) {
    display: none;
  }
}

.popular-slide-btn-next {
  right: -100px;
  left: auto;
  top: 30%;
  padding: 35px;
  color: $white;
  background-color: $primary;
  border-radius: 50%;

  @media (max-width: 1350px) {
    display: none;
  }
}

.image-slider__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: $grey;
  margin-bottom: 8px;
}

.image-slider__location {
  margin-bottom: 8px;

  span {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: $primary;
  }

  img {
    width: 14px;
    height: 22px;
    margin-right: 8px;
    margin-top: 1px;
  }
}

.image-slider__location-flex {
  display: flex;
  align-items: end;
}

.image-slider__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: $dark;
  margin-bottom: 16px;
}

.image-slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 48px;

  background: $orange;
  box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;

  text-align: center;
  color: $white;
}

// ----------------------
// featured
.featured {
  padding-bottom: 80px;

  @media (max-width: 479px) {
    padding-bottom: 40px;

  }

  &__title {
    text-align: center;
    color: $dark;
    margin-bottom: 88px;

    @media (max-width: 479px) {
      margin-bottom: 40px;

    }
  }

  &-card {
    display: block;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;

    &__img {
      margin-bottom: 20px;

      img {
        border-radius: 16px;
        max-width: 356px;
        width: 100%;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    &-logo-rating {
      display: flex;
      align-items: center;
    }

    &-logo__img {
      margin-right: 20px;

    }

    &-logo__title {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: $grey;
    }

    &-logo-rating__txt {
      font-weight: 400;
      font-size: 22px;
      line-height: 120%;
      color: $primary;
    }

    &-logo-rating__icon {
      margin-right: 8px;
    }

    &__flex-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    &-time__contain {
      display: inline-block;
      padding: 5px 10px;
      background: rgba(121, 185, 60, 0.2);
      border-radius: 16px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #79B93C;
    }

    &-clue {
      display: flex;
      align-items: center;
      position: absolute;
      top: 25px;
      left: 40px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #FFFFFF;

      img {
        margin-top: 5px;

      }

      &-time {
        background: $primary;
        border-radius: 8px;
        padding: 8px 16px;
      }

      &-discount {
        background: $orange;
        border-radius: 8px;
        padding: 8px 16px;
        margin-right: 8px;
      }
    }
  }

  &__button {
    text-align: center;
  }

  &__btn {
    display: inline-block;
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 14px;
    padding: 21px 48px;

    img {
      margin-top: 2px;
      margin-left: 10px;
    }

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      color: $white;
    }
  }

}

.tomorrow {
  display: inline-block;
  padding: 8px 16px;
  background: $bg2;
  border-radius: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: $orange;

}

// -----------------------
// menu-nav
.menu-nav {
  padding: 80px 0 55px 0;
  position: relative;

  @media (max-width: 479px) {
    padding: 40px 0 20px 0;

  }

  &__container {
    margin: 0 auto;
  }

  &-flex-container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-align: left;
    color: $dark;
    margin-bottom: 80px;

    @media (max-width: 479px) {
      margin-bottom: 40px;

    }
  }

  &-arrows {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 15%;

    @media (max-width: 992px) {
      display: none;
    }

    // &-text {
    //   font-weight: 700;
    //   font-size: 18px;
    //   line-height: 100%;
    //   text-align: center;
    //   color: #FFB30E;

    //   img {
    //     margin-top: 3px;
    //   }

    //   @media (max-width: 1480px) {
    //     right: 420px;
    //   }

    //   @media (max-width: 1350px) {
    //     display: none;
    //   }
    // }
  }

  &-btn-next {
    color: $white;
    background-color: $primary;
    padding: 35px;
    border-radius: 50%;
    right: -80px;
    left: auto;

    @media (max-width: 1480px) {
      right: 10px;
    }
  }

  &-btn-prev {
    color: $white;
    background-color: $primary;
    padding: 35px;
    border-radius: 50%;
    right: auto;
    left: -80px;

    @media (max-width: 1480px) {
      left: -160px;
    }
  }
}

.menu-nav-slider__title {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 120%;
  color: $grey;
  margin-top: 26px;
}


// ---------------
// more
.more {
  padding-top: 130px;
  background: url(/img/install-bg.png) no-repeat;
  background-position: bottom center;
  background-color: $bg3;

  @media (max-width: 479px) {
    padding-top: 50px;

  }
}

.some-info {
  padding: 55px 0;
  background: $white;
  box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
  border-radius: 46px;
  margin: 0 auto;
  margin-bottom: 80px;

  @media (max-width: 1199px) {
    padding: 25px 0;
  }

  @media (max-width: 991px) {
    padding: 15px 0;
    margin-bottom: 40px;
  }

  &-cards {

    &__container {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        justify-content: center;
        flex-wrap: wrap;
      }

    }
  }

  &-card {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 80px;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    @media (max-width: 1199px) {
      margin-right: 50px;
    }

    @media (max-width: 479px) {
      margin-bottom: 40px;
      margin-right: 0;
      justify-content: center;
    }

    &__img {
      margin-right: 30px;
      margin-bottom: 15px;
    }

    &__title {
      max-width: 151px;
      background: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &-one {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        right: -36px;
        width: 2px;
        height: 96px;
        background-color: #CFCFCF;

        @media (max-width: 1479px) {
          top: 80px;
          right: 0;
        }

        @media (max-width: 1199px) {
          top: 80px;
          right: 32px;
        }

        @media (max-width: 993px) {
          display: none;
        }
      }
    }

    &-two {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        right: -30px;
        width: 2px;
        height: 96px;
        background-color: #CFCFCF;

        @media (max-width: 1479px) {
          top: 80px;
          right: 0;
        }

        @media (max-width: 1199px) {
          top: 80px;
          right: 32px;
        }

        @media (max-width: 993px) {
          display: none;
        }
      }
    }
  }
}

// --------
// instal
.install {

  &__img {
    @media (max-width: 479px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__cont {
    margin: 0 auto;

    @media (max-width: 479px) {
      padding: 0;
      ;

    }
  }

  &__title {
    margin-top: 30px;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 10px;
  }

  &__text {
    font-family: $font2;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #827E7E;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }


  &__button {
    background: $white;
    mix-blend-mode: normal;
    padding: 10px 7px;
    /* Shadow/1 */
    text-align: center;
    margin-right: 8px;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 5px;
    max-width: 202px;
    width: 100%;
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &-btn {
      display: flex;
      align-items: center;

      &-subtitle {
        margin-bottom: 2px;
      }

      &-img {
        margin-right: 10px;
      }
    }

  }
}


// -------------------
//recommendations
.recommendations {
  padding: 80px 0 30px 0;

  @media (max-width: 479px) {
    padding: 30px 0 0 0;
  }

  &-card {
    margin-bottom: 80px;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
    border-radius: 16px;
    background: $white;

    @media (max-width: 479px) {
      margin-bottom: 50px;
    }

    &__txt-contain {
      padding: 56px;

      @media (max-width: 479px) {
        padding: 20px;
      }
    }

    &__img {
      img {
        border-radius: 0 16px 16px 0;
        max-width: 960px;
        width: 100%;

        @media (max-width: 991px) {
          border-radius: 0 0 16px 16px;
        }
      }

      &-reverse {
        img {
          border-radius: 16px 0 0 16px;
          max-width: 960px;
          width: 100%;

          @media (max-width: 991px) {
            border-radius: 16px 16px 0 0;
          }
        }
      }

    }

    &__text {
      font-family: $font2;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      /* or 25px */
      color: rgba(97, 97, 97, 0.69);
      margin-bottom: 111px;

      @media (max-width: 1480px) {
        margin-bottom: 80px;
      }

      @media (max-width: 1199px) {
        margin-bottom: 30px;
      }

      @media (max-width: 991px) {
        margin-bottom: 70px;
      }

      @media (max-width: 479px) {
        margin-bottom: 30px;
      }
    }

    &__title {
      color: $grey5;
      margin-bottom: 20px;

      span {
        font-weight: 700;
        font-size: 43px;
        line-height: 112%;
        color: $primary;

        @media (max-width: 479px) {
          font-size: 33px;
        }
      }

      @media (max-width: 479px) {
        font-size: 33px;
      }
    }

    &__button {
      text-align: center;
    }

    &__btn {
      font-weight: 900;
      font-size: 18px;
      line-height: 100%;
      /* identical to box height, or 18px */
      text-align: center;
      text-transform: uppercase;
      color: $white;
      display: inline-block;
      padding: 21px 0;
      background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
      /* Button shadow ! */
      max-width: 407px;
      width: 100%;
      box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
      border-radius: 8px;

      @media (max-width: 479px) {
        font-weight: 700;
        font-size: 16px;
      }

      img {
        margin-left: 8px;
        margin-top: 2px;
      }
    }
  }
}

// ------------
.order {
  background: url(/img/order.png) 0 0 no-repeat;
  background-size: cover;
  padding: 90px 0 75px 0;
  margin: 0 auto;

  @media (max-width: 1199px) {
    background: $primary;
  }

  &-col {
    margin: 0 auto;
  }

  &__title {
    font-weight: 900;
    font-size: 57px;
    line-height: 97.5%;
    text-align: center;
    color: $white;
    margin-bottom: 62px;

    @media (max-width: 991px) {
      font-size: 47px;
    }

    @media (max-width: 479px) {
      font-weight: 700;
      font-size: 37px;
      line-height: 111%;
    }
  }

  &__button {
    text-align: center;
  }

  &__btn {
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    padding: 21px 25px;
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    display: inline-block;

    img {
      margin-left: 8px;
      margin-top: 2px;
    }
  }
}

// -----------------
// footer
.footer {
  background: $dark;
  padding: 100px 0 70px 0;

  @media (max-width: 479px) {
    padding: 50px 0 30px 0;
  }

  &-sities {
    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      /* or 26px */
      color: $white;
      margin-bottom: 40px;
    }

    &__contain {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 100px;
      border-bottom: 2px solid $grey;

      @media (max-width: 991px) {
        justify-content: center;
        flex-wrap: wrap;
      }

      @media (max-width: 479px) {
        padding-bottom: 30px;
      }
    }

    &__column {
      @media (max-width: 991px) {
        margin-right: 40px;
        margin-bottom: 40px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: $whiteg;
      margin-bottom: 16px;
    }
  }

  &-info {
    padding: 63px 0;
    border-bottom: 2px solid $grey;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: start;

      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__flex-container {
      display: flex;

      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__flexbox {
      margin-right: 112px;

      @media (max-width: 992px) {
        margin-bottom: 40px;
        margin-right: 40px;
      }

      @media (max-width: 479px) {
        margin-bottom: 20px;
      }

    }

    &__title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      /* or 26px */
      color: $white;
    }

    &__text {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: $whiteg;
    }
  }

  &-follow {
    @media (max-width: 992px) {
      margin-top: 50px;
    }

    @media (max-width: 479px) {
      margin-top: 20px;
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      /* identical to box height, or 22px */
      text-transform: uppercase;
      color: $whiteg;
      opacity: 0.6;
      margin-bottom: 40px;
    }

    &__link {
      display: flex;
      align-items: center;
      margin-bottom: 43px;

      img {
        margin-right: 16px;
      }
    }

    &__subtitle {
      font-family: $font2;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      /* or 25px */
      color: #BBBBBB;
      margin-bottom: 40px;
    }

    &__form {
      display: flex;
      align-items: center;

      @media (max-width: 479px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      &-input {
        max-width: 334px;
        width: 100%;
        padding: 17px 16px 18px 16px;
        background: $grey;
        border-radius: 8px;
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */
        color: #ADADAD;
        margin-right: 16px;

        @media (max-width: 479px) {
          margin-bottom: 30px;
        }
      }

      &-button {
        padding: 21px 27px;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        /* identical to box height, or 18px */
        text-align: center;
        color: $white;
        background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
        /* Button shadow ! */
        box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
        border-radius: 8px;
      }
    }
  }

  &__text {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-txt {
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: $whiteg;

      @media (max-width: 767px) {
        margin-bottom: 20px;
        text-align: center;
      }

      span {
        font-family: $font2;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 120%;
        color: $whiteg;
      }

      img {
        margin-top: 2px;
      }
    }
  }
}